@model VideoTube.Models.Users

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>VideoTube</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>

    <div class="signInContainer">

        <div class="column">

            <div class="header">
                <img src="assets/images/icons/VideoTubeLogo.png" title="logo" alt="Site logo">
                <h3>Sign Up</h3>
                <span>to continue to VideoTube</span>
            </div>

            <div class="loginForm">
                @using (Html.BeginForm())
                {
                    @Html.TextBoxFor(m => m.firstName, new { @class = "form-control", @placeholder = "First name", @autocomplete = "off", @required = "true" })
                    @Html.ValidationMessageFor(m => m.firstName, "", new { @class = "text-danger" })


                    @Html.TextBoxFor(m => m.lastName, new { @class = "form-control", @placeholder = "Last name", @autocomplete = "off", @required = "true" })
                    @Html.ValidationMessageFor(m => m.lastName, "", new { @class = "text-danger" })


                    @Html.TextBoxFor(m => m.username, new { @class = "form-control", @placeholder = "Username", @autocomplete = "off", @required = "true" })
                    @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })

                    @Html.TextBoxFor(m => m.email, new { @type = "email", @class = "form-control", @placeholder = "Email", @autocomplete = "off", @required = "true" })

                    @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })

                    @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Password", @autocomplete = "off", @required = "true" })
                    @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })


                    @Html.PasswordFor(m => m.confirmpassword, new { @class = "form-control", @placeholder = "Confirm password", @autocomplete = "off", @required = "true" })

                     @Html.ValidationMessageFor(m => m.confirmpassword, "", new { @class = "text-danger" })

                <input type="submit" name="submitButton" value="SUBMIT">
                }


            </div>

            <a class="signInMessage" href="signIn">Already have an account? Sign in here!</a>

        </div>

    </div>




</body>
</html>